SOAP-WS/WebContent/wsdl/SoapWSServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.ws" xmlns:intf="http://soap.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUserName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserNameResponse">
    <complexType>
     <sequence>
      <element name="getUserNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserNameRequest">

      <wsdl:part element="impl:getUserName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserNameResponse">

      <wsdl:part element="impl:getUserNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SoapWSServer">

      <wsdl:operation name="getUserName">

         <wsdl:input message="impl:getUserNameRequest" name="getUserNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserNameResponse" name="getUserNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapWSServerSoapBinding" type="impl:SoapWSServer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapWSServerService">

      <wsdl:port binding="impl:SoapWSServerSoapBinding" name="SoapWSServer">

         <wsdlsoap:address location="http://localhost:8080/SOAP-WS/services/SoapWSServer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
